@model PageInfoParser.ViewModel.PageInfoParserViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to the <b>PageInfoParser</b></h1>
    <br />
    <textarea id="pagesList" rows="15" cols="90"></textarea>
    <p>
        <button id="infoParser" class="btn btn-success">Get Info</button>
    </p>
</div>

<div id="results" hidden>
    <table  id="pageResults">
            <tr>
                <th>Title</th>
                <th>Status Code</th>
            </tr>
    </table>
</div>
<div class="preloader" id="infoPreloader" hidden></div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="@Url.Content("~/js/page-info-parser.js")" type="text/javascript"></script>